# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
Example/Pods/AFNetworking
Example/Pods/Headers/Private/AFNetworking
Example/Pods/Headers/Private/SmartAdLib
Example/Pods/Headers/Public/AFNetworking
Example/Pods/Headers/Public/SmartAdLib
Example/Pods/Local Podspecs/SmartAdLib.podspec.json
Example/Pods/Manifest.lock
Example/Pods/Pods.xcodeproj/project.pbxproj
Example/Pods/Target Support Files/Pods-SmartAdLib-AFNetworking
Example/Pods/Target Support Files/Pods-SmartAdLib-SmartAdLib
Example/Pods/Target Support Files/Pods-SmartAdLib/Pods-SmartAdLib-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-SmartAdLib/Pods-SmartAdLib-acknowledgements.plist
Example/Pods/Target Support Files/Pods-SmartAdLib/Pods-SmartAdLib-environment.h
Example/Pods/Target Support Files/Pods-SmartAdLib/Pods-SmartAdLib.debug.xcconfig
Example/Pods/Target Support Files/Pods-SmartAdLib/Pods-SmartAdLib.release.xcconfig
Example/Pods/Target Support Files/Pods-Tests-AFNetworking
Example/Pods/Target Support Files/Pods-Tests-Expecta/Pods-Tests-Expecta-Private.xcconfig
Example/Pods/Target Support Files/Pods-Tests-Expecta+Snapshots/Pods-Tests-Expecta+Snapshots-Private.xcconfig
Example/Pods/Target Support Files/Pods-Tests-FBSnapshotTestCase/Pods-Tests-FBSnapshotTestCase-Private.xcconfig
Example/Pods/Target Support Files/Pods-Tests-SmartAdLib
Example/Pods/Target Support Files/Pods-Tests-Specta/Pods-Tests-Specta-Private.xcconfig
Example/Pods/Target Support Files/Pods-Tests/Pods-Tests-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-Tests/Pods-Tests-acknowledgements.plist
Example/Pods/Target Support Files/Pods-Tests/Pods-Tests-environment.h
Example/Pods/Target Support Files/Pods-Tests/Pods-Tests.debug.xcconfig
Example/Pods/Target Support Files/Pods-Tests/Pods-Tests.release.xcconfig
